@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    font-family: Centra;
}

@font-face {
	font-family: Centra;
	src: url('../assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('../assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('../assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

.cursor-pointer-custom {
    cursor: pointer;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #353535;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(123, 123, 123); 
  border-radius: 10px;
}

/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

@layer utilities {
  .animate-updown {
    animation: updown 3s linear infinite;
  }

  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .txt-rotate > .wrap {
    @apply border-r-[0.08em] border-red-600;
  }
}

/* Estilos para la selección */

::selection {
  background-color: black;
  color: red;
}

/* Estilos para el banner */

@layer utilities {
  .animate-pronounced-updown {
    animation: pronounced-updown 3s ease-in-out infinite;
  }

  @keyframes pronounced-updown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
}